.slide {
    position: relative;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
}

.slide::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0)), linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    pointer-events: none;
}

.content {
    position: absolute;
    left: 4rem;
    bottom: 6rem;
    max-width: 40%;   
    z-index: 2;

}

.movie-title {
    font-size:1.75rem;
}

.metadata .year {
    font-size: 1.2rem;
}

.metadata .rating {
    font-size: 1rem;
}

 .overview {
    font-size: 1rem;
}

.content-button {
    margin-top: 0.8rem;
    transition: all ease-in-out 0.4s;
    border-radius: 25px;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    color:var(--text);
    border: 2.7px solid var(--accent);

}
.content-button:hover {
    transform:translateY(-4px);
    box-shadow: var(--accent);
    cursor: pointer;
}

.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
    background-color: transparent;
    color: var(--text);
    border: none;
    transition: all ease-in-out 0.4s;
    z-index: 2;

}
.prev:hover {
    transform: translateY(-50%) translateX(-3px);
    color: var(--accent);
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    background-color: transparent;
    color: var(--text);
    border: none;
    transition: all ease-in-out 0.4s;
    z-index: 2;
}

.next:hover {
    transform: translateY(-50%) translateX(3px);
    color: var(--accent);
}
.dots-container {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    gap: 10px;
}

.dots-container span {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--text-muted);

}

.dots-container span.active {
    background-color: var(--accent);
    
}

.outer-slideshow {
    position: relative;
}

.sections-wrapper {
    padding: 2rem 3rem;
    margin-top: 3rem;

}   

.cards-container {
    overflow-x: auto;
    display: flex;
    gap: 1.2rem;
    padding-bottom: 8px;
}

.trending-row, .upcoming-row, .top-rated-row {
    margin-bottom: 2rem;
}

.movie-card {
    flex: 0 0 200px;
    background-color: var(--card);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.3s ease
    
}

.movie-card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(51, 51, 51, 0.4);

}
.movie-card img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.card-meta {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.movie-metadata {
    padding: 0.2rem 0.75rem;
}

.movie-metadata h4 {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    color: var(--accent);
    font-size: 14px;

}

.genre {
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;     
}

.cards-container::-webkit-scrollbar {
    height: 6px;
}

.cards-container::-webkit-scrollbar-track {
background-color: var(--card);
 margin-top: 4px;
}

.cards-container::-webkit-scrollbar-thumb {
    background-color: var(--text-muted);
    border-radius: 10px;
}

.cards-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}